*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

h1{
    text-align: center;
}

.box{
    height: 450px;
    width: 350px;
    background-color: rgb(177, 177, 249);
    margin: 10% auto;
}

.inputfield{
    /* margin: 7% 19%; */
    border: 2px solid black;
    
    /* width: 60%; */
    border-radius: 50px 0 0 50px;
    
    padding: 3%;
    float: left;
    width: 70%;
    border-right: none;
}

.btn{
    margin: 7% 20%;
    background: none;
    border: none;
    
}

.search-btn{
    border: 2px solid black;
    border-radius: 0 50px 50px 0;
    border-left: none;
    padding: 3.7%;
    float: right;
    width: 30%;
    background-color: white;
    
}


.text-input{
    margin: 12% 0;
    text-align: center;
}

h2{
    padding: 30px;
}

p{
    padding: 20px;
}